 <html>
     <head>
         <title>
           <%=body%>
         </title>
     </head>
     <body>
         <p>
                hello you want to view my profile
          </p>  
     </body>


 </html>
