<link rel="stylesheet" href="/css/user_profile.css">


<h1>
    Hello I am new user
</h1>


<!-- this user we have mentioned in passport-local-strategy->line no 85 -->
<p> <%= user.name %> </p>
<p> <%= user.email %> </p>
