This will be under folder /Desktop/Contact_List/views
Because inside folder Contact_List we have written out .js file 






<html>
    <head>
        <title>
            HTML rendered Page 
        </title>
    </head>
    <body>
        <h1>
            Hello you have rendered content from HTML
        </h1>
    </body>
</html>
