<html>
    <head>
        <title>
            HTML rendered Page 
        </title>
    </head>
    <body>
        <h1>
            Hello you have rendered content from HTML
        </h1>
    </body>
</html>
